@import 'colors.scss';

h1{
    color: white;
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    // width: 100vw

}
h4{
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px 20px!important;
    padding: 0px;
    width: auto;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

.col-sm-6{
    padding-right: 15px;
    padding-left: 15px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    // margin: 0 -50px !important;
    margin-top: 30px;
    align-content: flex-start;
    
    // margin-left: 90px;
    margin-top: 30px;
    // margin-left: 100px
}
.containert{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // justify-content: space-evenly
    height: 88vh;
    width: 100vw;
    // height: 100%;
    text-align: center;

    .col-sm-6{
    justify-content: space-evenly;
}
    // margin-left: 100px;
    // margin: 15px;
    h1{
        // justify-self: center;
        // margin-left: auto;
    }

}
@media screen and (min-width: 981px){
    #contact{
        margin-top: 30px;
    }
}

@media screen and (min-width: 980px){
    .flex{
        height: 5vh;
        margin: auto 0px;
        // margin-left: 20px;
        margin-top: 30px    }
}


@media screen and (min-device-width: 501px) and (max-width: 800px) {
    body {
        // .flexner{
        //     flex-flow: column !important;
        // flex-direction: column !important;
        // margin-left: 0;
        // margin: 20px 0px;
        // margin-top: 100px;
        // align-content: space-between !important;
        // }
        #contact{
            margin-top: 165px;
        }
    }
   
  }
  .fa {
    padding: 12px;
    font-size: 50px;
    // width: 50px;
    // height: 50px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    margin: 30px;
    border-radius: 12.5%

  }
  .namess{
    //   display: block;
    margin-bottom: 30px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    color: lightgray;
  }
  .fa-instagram {
    background: #c83cff;
    color: white;
  }
  .fa-github {
    background: #c83cff;
    color: white;
  }
@media screen and (max-width: 900px) and (min-width: 576px){
    #bigrow{
        flex-flow: column;
        // width: 80%
        justify-content: center;
        align-content: center;
        margin: auto;
        align-items: center;
        margin-top: 00px;
    }
    .namess{
        margin-bottom: 30px
    }
    .row{
        justify-content: center;
    }
    .containert{
        justify-content: center;
        align-content: center;
        justify-items: center ;
        margin-top: 180px;
        
    }
}
@media screen and (max-width: 575px){
    #contact{
        // margin-top: 280px;
    }
    .row{
        text-align: center;
        justify-content: center;
    }
}
.row{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row wrap;
    margin-left: 0px;
}

@media screen and (max-height: 640px) and (max-width: 500px){
    

    #contact{
        margin-top: 20px !important;
    }
    .flex{
        text-align: left;
        margin-left: 15px  !important;   
    }
    .col-sm-6{
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
    @media screen and (min-height: 641px) and (max-height: 730px) and (max-width: 500px){
        .containert{
            height: 120vh;

        #contact{
            margin-top: 25px !important;
        }
    }
}
    @media screen and (min-height: 731px )and (max-height: 750px)and (max-width: 500px){
        .containert{
            height: 120vh !important;

        #notesMarginLOLXDUWU{
            // margin-top: 140px;
        }
    }
}
    @media screen and (max-height: 900px)and (max-width: 500px){

        #contact{
            margin-top: 10px !important;
        }
    
}


@media screen and (max-height: 700px)and (max-width: 290px){
    #contact{
        margin-top: 190px !important;
    }
}

@media screen and (max-height: 1100px)and (max-width: 800px){
    #contact{
        margin-top: 40px !important;
    }
    .flex{
        margin-left: 30px;
        text-align: left;
    }
}
#image{
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0px;
    padding-right: 0px;
}
img{
    // vertical-align: left
    text-align: flex-start;
    margin-right: 50px;
}
@media screen and (max-width: 500px){
    img{
        margin-right: 0px;
        width: 300px;
        height: 300px
    }
}    

@media screen and (max-width: 980px){
    .flex{
        margin-left: 60px !important;
    }
}

#board{
    margin-right: 200px;
}