$offwhite: #ffffff;

// .logotext{
//     text-align: left;
//     z-index: 55;
// }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    color: white;
}

nav {
    // background: #44355B;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    color: white;
    text-align: right;
    animation: fadein 1s both;
    transition: .2s ease;
    // margin-right: 20 px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    
}
#yeet{
    font-family: 'OpenSans', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    color: #c83cff
    // margin-left: 20px;
    // margin: 2px 
    // align-self: left !important;
}

@keyframes fadein{
    0% {
        opacity:0;
        transform:translateY(5px)
    }
    25% {
        opacity:0;
        transform:translateY(20px)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}

h1 {
    // text-transform: uppercase;
    font-size: 38px;
    color: $offwhite;

}

main {
    // margin-top: 45px;
}
.right-welcome{
    // position: absolute;
    // width: 100vw;
    // height: 100vh;
    // left: 50%;
    // top: 50%;
    color: #5d09e4;
    // transform: translate(-50%, -20%);
    //   right: 350px;
    //   align-content: flex-start;
    // justify-content: start;
    // align-content: center;
    // text-align: center;
    // margin-left: 100px;
    font-family: 'Oxygen', sans-serif;

}

.active {
    color: #e0aaff !important;
}

.landing-title {
    z-index: 10;
    font-family: 'Oxygen', sans-serif;

}
    
a.animated-button.victoria-two {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-two:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

#background-boi {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
}

.flexboi {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0 auto;
    // justify-content: center;
    justify-content: space-around;
    // margin-right: 250px;
    // flex-wrap: wrap;
}

.boxy-boi {
    // padding-right: 200px;
    // margin-left: 300px;
    // padding-right: 200px;
    // align-content: right;
    // padding-right: 100px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    // color: #6610F2;
    transform: translate(-50%, -50%);

    z-index: -5;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white
}
nav li{
    display: inline-block;
    color: white;
    margin: 9px 22px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 50;

}


nav a{
    color: white;
    text-decoration: none;
    transition: .2s ease all;

}
nav a:hover{
    color: rgb(202, 202, 202);
}
.btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }
.btn{

}
