body {
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    color: white;
}

nav {
    background: #44355B;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    color: white;
    text-align: center;
}

main {
    padding-top: 45px;
}
.right-welcome{
    position: absolute;
    // //   right: 350px;
    //   align-content: flex-start;
    // justify-content: start;
    align-content: left;
}

#background-boi {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.flexboi {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0 auto;
    // justify-content: center;
    justify-content: space-around;
    // margin-right: 250px;
    // flex-wrap: wrap;
}

.boxy-boi {
    // padding-right: 200px;
    // margin-left: 300px;
    // padding-right: 200px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    color: white;
    margin: 9px 22px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;

}
nav a{
    color: white;
    text-decoration: none;
    transition: .2s ease all;

}
nav a:hover{
    color: rgb(202, 202, 202);
}
.btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }
