nav{
    
    top: -1px;
    width: 100%;
    padding: 10px 15px;
    padding-top: 0px;
    font-size: 17px;
    color: white;
    text-align: right;
    transition: .2s ease;
    // margin-right: 20 px;
    // padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 105;
    background-color: #1b1b1b;
    // min-height: 15em;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    // margin-bottom: 30px;
    // position: static;

    // position: relative;

}
nav li{
    display: inline-block;
    color: white;
    margin: 9px 22px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;

}


nav a{
    color: white;
    text-decoration: none;
    transition: .2s ease all;

}
nav a:hover{
    color: rgb(202, 202, 202);
}


.active {
    color: #e0aaff !important;
}


.navbar-brand{
    font-size: 27px !important;
    font-family: 'Ubuntu', sans-serif;

}