 @import 'colors.scss';

.center-limit {
    margin: 0 auto;
    // max-width: 60em;
    max-width: 90em;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }
.flexner{
    display: flex;
    
    justify-content: center;
    // & :hover{
    //     font-family: "Ubuntu", sans-serif;
    // }
}
.tiles{
    border: rgba(209, 209, 209, 0.171) solid 2px;
    max-width: 32em;
    padding: 10px;
    min-height: 17em;
    background-color: #222222;
    // justify-content: space-between;
    text-decoration: none;
    color: white;
    // background-color: $purpleMain;
    z-index: 45;
    min-width: 20em;
    margin: 0px 50px;
    // font-size: 25px;
    h2{
        font-size: 35px;
    }

&:hover{
    border: $purpleMain solid 2px;
 
}
.left-image{
    text-align: left !important;
    justify-content: flex-start;
    display: flex;
}
}
ion-icon{
    // padding:  5em;
    color: $purpleMain;
    font-size: 170px !important;
    justify-content: left;
    align-content: left;
    align-self: left;
    text-align: left;
}


.center-text {
    text-align: center;
   
}

.nav-margin {
    margin-top: 100px;

}

.flex {
    display: flex;
    height: 100vh;
}

.vertical-center {
    margin: auto;
}
i{
    color: $purpleMain;
    font-size: 170px !important;
    
}

