 @import 'colors.scss';

.center-limit {
    // margin: 0 auto;
    // max-width: 60em;
    // max-width: 90em;
}
body {
    // overflow: auto;
    overflow-x: hidden; /* Hide scrollbars */
  }
.flexner{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    // & :hover{
    //     font-family: "Ubuntu", sans-serif;
    // }
}

.tiles{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    border: rgba(209, 209, 209, 0.171) solid 5px;
    max-width: 32em;
    cursor: pointer;
    padding: 10px;
    // display: flex;
    min-height: 17em;
    max-height: 20em;
    background-color: #222222;
    // justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    color: white;
    // background-color: $purpleMain;
    z-index: 45;
    min-width: 20em;
    margin: 20px 50px;
    // font-size: 25px;
    text-align: center;
    transition: .2s ease all;
    .slideyboy{
        // position: absolute;
        transform: translateY(-100%);
    }
    //     // text-align: center;
    //     // display: inline-block;
    //     margin: 0 auto;
    //     // justify-content: center;
    //     // justify-self: center;
    // // color: #5d09e4;
    //     // transform: translate(-50%, -50%);
    //     // right: 350px;
    
    //     color: transparent;
    // }

    h2{
        font-size: 35px;
        margin: 0px 0px;
    }

&:hover{
    border: $purpleMain solid 5px;
}
}
.slideyboy{
    transform: translateY(-00%);
    color: transparent;

    // position: absolute;

}

.slides-up{
    color: red;
}
.left-image{
    text-align: left !important;
    justify-content: flex-start;
    display: flex;
}

#picture{
    // padding:  5em;
    color: $purpleMain;
    font-size: 170px !important;
    justify-content: left;
    align-content: left;
    align-self: left;
    text-align: left;
    margin-bottom: 40px;

}

nav{
    margin-bottom: 50px !important;
}


.center-text {
    // text-align: center;
   
}

.nav-margin {
    // margin-top: 100px;

}

.flex {
    display: flex;
    height: 100vh;
}

.vertical-center {
    // margin: auto;
}
i{
    color: $purpleMain;
    font-size: 170px !important;
    margin-bottom: 40px;
    
}
.text-size-notes{
    font-size: 15px;
}
hr{
    height: 2px;
    border: transparent;
}
.slideyboy{
    li{
        font-size: 20px;
    }
}
#jabub{
    margin: 5px 0px;
    visibility: hidden;
}
#pybub{
    margin: 5px 0px;

    visibility: hidden;
}
#PythonTitle{
    text-decoration: underline;
    text-decoration-color: transparent;
}
#JavaTitle{
    text-decoration: underline;
    text-decoration-color: transparent;
}
#javalink{
    visibility: hidden;
}
#pylink{
    visibility: hidden;
}
#close{
    // transform: translateX(-1000%);
    // transform: translateY(555%);
    // text-align: right;
    // justify-content: right;
    // position: absolute;
    // justify-content: flex-end;
    // font-size: large;
    font-size: 40px !important;
    // margin-top: 35px;
    // color: green;
    margin-top: 3px;
}
#closes{
    font-size: 40px !important;
    margin-top: 3px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top:15px;
    margin-bottom: 10px;

}
.headers{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top:20px;
    margin-bottom: 10px;

}
.slideyboy{
    ul{
        // transform: translateY(-6%);
        // margin-bottom: 50px;
        text-align: left;
        padding: 0px;
        margin-left: 10px;
        list-style-type: none;
    }
}


@media screen and (min-width: 901px){
    body{
        background-color: green;
        flex-flow: row !important wrap;
        flex-direction: row !important;

    }
}
@media screen and (min-device-width: 501px) and (max-width: 900px) {
    body {
        // .flexner{
        //     flex-flow: column !important;
        // flex-direction: column !important;
        // margin-left: 0;
        // margin: 20px 0px;
        // margin-top: 100px;
        // align-content: space-between !important;
        // }
        #notesMarginLOLXDUWU{
            margin-top: 165px;
        }
    .containery{
        margin-top: 100px;
        min-width: 10em;
        margin-left: 0px;
        margin-right: 0px;
    }
    #join{
        // padding: 0px 15px;
        margin: 0 20px
    }
    nav{
        margin-left: 0;
        margin-right: 0;
    }
    .tiles{
        // margin-left: 0px !important;
        // margin-right: 0px !important;
        .slideyboy{
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .flexner{
        margin-left: 0px;
        margin-right: 0px;
    }
    }
    header{
        margin-left: 0px;
        margin-right: 0px;
        // margin-bottom: 50px
    }
    body{
        overflow: auto;
        overflow-x: hidden;

    }
  }
@media screen and (max-width: 500px){
    #notesMarginLOLXDUWU{
        // margin-top: 280px;
    }
    body{
        overflow: auto;
        position: relative;

    }
    .flex{
        height: 150vh;

    }
}

    @media screen and (max-height: 730px){
        .container{
            height: 120vh;

        #notesMarginLOLXDUWU{
            margin-top: 210px !important;
        }
    }
}
    @media screen and (max-height: 750px){
        .container{
            height: 120vh !important;

        #notesMarginLOLXDUWU{
            // margin-top: 140px;
        }
    }
}
    @media screen and (max-height: 900px){
        .container{
            height: 110vh;

        #notesMarginLOLXDUWU{
            // margin-top: 140px;
        }
    }
}

.navbar-brand{
    font-size: 27px !important;
    font-family: 'Ubuntu', sans-serif;

}
#PythonTitle{
    color: transparent;
}


